<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #drawer mode="side" class="app-sidenav" opened>
    <mat-toolbar class="app-toolbar-img">
      <img src="/assets/logo_branca.png" alt="logo" width="100">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/alunos">Alunos</a>
      <a mat-list-item routerLink="/login">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button flat (click)="drawer.toggle()" class="box-shadow-none">
        <mat-icon class="mat-icon-24">apps</mat-icon>
      </button>
      <span class="app-title">AtGym</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <div class="app-container" [ngClass]="{ 'bg-verificar': isVerificarPage(), 'bg-alunos': isAlunosPage(), 'bg-alunos-novo': isAlunoNovoPage() }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
