<div class="container">
    <mat-card class="p-4 m-h-70 mt-5 bg-white bg-white-transparent-8 card-border-orange">
        <h2 class="mb-4">Frequência</h2>
       <div *ngIf="aluno" class="d-flex align-center gap-4 mb-4">
        <img *ngIf="aluno?.fotoBase64" [src]="aluno.fotoBase64" alt="Foto do aluno" width="150" height="150" style="border-radius: 8px;" />

        <div class="d-flex flex-column align-center mb-4">
            <span class="mb-1"><strong>Nome:</strong> {{ aluno?.nome }}</span>
            <span class="mb-1"><strong>CPF:</strong> {{ aluno?.cpf }}</span>
            <div class="d-flex align-center">
                <div class="mr-2"><strong>Status:</strong></div> 
                <div><app-tag-status [status]="aluno?.status"></app-tag-status></div>
            </div>
        </div>
        </div>
        <div class="d-flex"></div>

        <table mat-table [dataSource]="registros" class="mat-elevation-z2 w-100">
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let reg"> {{ formatarData(reg.dataEntrada) }} </td>
            </ng-container>

            <ng-container matColumnDef="diaSemana">
                <th mat-header-cell *matHeaderCellDef> Dia da Semana </th>
                <td mat-cell *matCellDef="let reg"> {{ diaSemana(reg.dataEntrada) }} </td>
            </ng-container>

            <ng-container matColumnDef="entrada">
                <th mat-header-cell *matHeaderCellDef> Entrada </th>
                <td mat-cell *matCellDef="let reg"> {{ formatarHora(reg.dataEntrada) }} </td>
            </ng-container>

            <ng-container matColumnDef="saida">
                <th mat-header-cell *matHeaderCellDef> Saída </th>
                <td mat-cell *matCellDef="let reg">
                    {{ reg.dataSaida ? formatarHora(reg.dataSaida) : '---' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>