<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #drawer mode="side" class="app-sidenav" (opened)="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="drawer.close()">Dashboard</a>
      <a mat-list-item routerLink="/alunos" (click)="drawer.close()">Alunos</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="app-toolbar" *ngIf="!isVerificarPage()">
      <button mat-icon-button flat (click)="drawer.toggle()" class="box-shadow-none">
        <mat-icon class="mat-icon-24">apps</mat-icon>
      </button>
      <span class="app-title">Atlas Gym</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <div class="app-container" [ngClass]="{ 'bg-verificar': isVerificarPage(), 'bg-alunos': isAlunosPage() }">
      <router-outlet></router-outlet>
    </div>

    <!-- Rodape -->
    <!-- <mat-toolbar color="primary" class="app-footer" role="contentinfo" *ngIf="!isVerificarPage()">
      <span>&copy; {{ currentYear }} Atlas Gym</span>
      <span class="spacer"></span>
      <span>v1.0.0</span>
    </mat-toolbar> -->

    
  </mat-sidenav-content>
  
</mat-sidenav-container>