$primary : #2892fd;
$secondary : #00bcd4;
$accent : #9C27B0;
$dark : #1D1D1D;
$positive : #009688;
$negative : #f44336;
$info : #31CCEC;
$warning : #ffc107;
$dark-2 : #151b26;
$gray-color : #607d8b;
$linear-gradient-orange: linear-gradient(90deg, #e67e21 0%, #d26300 100%);
$linear-gradient-green: linear-gradient(90deg, rgb(42, 123, 155) 0%, rgb(87, 199, 133) 100%, rgb(237, 221, 83) 100%);
$linear-gradient-blue-purple: linear-gradient(90deg, rgb(79, 198, 225) 0%, rgb(102, 88, 221) 100%);
$linear-gradient-tooltip: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$min-h-70: 70vh;
$min-h-80: 80vh;
$min-h-90: 90vh;
$min-h-100: 100vh;