table {
  border-collapse: collapse;
  width: 100%;

  th {
    background: #f3f3f3;
  }

  td, th {
    padding: 8px;
    text-align: left;
  }

  button {
    margin-left: 4px;
    cursor: pointer;
  }
}
