<mat-card class="card-reconhecimento">
  <h2 class="titulo">Reconhecimento Facial</h2>

  <div class="video-container">
    <div *ngIf="contadorProximoAluno !== null" class="contador">
      <mat-icon color="accent">hourglass_bottom</mat-icon>
      <span>Aguardando próximo aluno em: {{ contadorProximoAluno }}…</span>
    </div>
    <video #video width="640" height="480" autoplay muted></video>
    <div class="silhueta"></div>
  </div>

  <div class="acoes">
    <!-- <app-botao tamanho="sm" classe="btn-laranja mr-2" texto="Verificar" icone="eye"
      (clicou)="verificar()">
    </app-botao> -->
    <app-botao tamanho="sm" classe="btn-verde mr-2" texto="Reniciar Verificação" icone="refresh"
      (clicou)="reiniciarVerificacao()">
    </app-botao>
  </div>

  <div *ngIf="alunoReconhecido" class="resultado">
    <mat-icon color="primary">check_circle</mat-icon>
    <span><strong>Aluno reconhecido:</strong> {{ alunoReconhecido.nome }}</span>
  </div>
</mat-card>

<mat-card class="card-reconhecimento2 mt-4">
  <h2 class="titulo">Acesso via Senha</h2>

  <form>
  <mat-form-field appearance="fill" class="senha-field">
    <mat-label>Digite sua senha</mat-label>
    <input matInput name="senhaDigitada" [(ngModel)]="senhaDigitada" type="password" />
  </mat-form-field>
</form>

  <button mat-raised-button color="primary" (click)="verificarSenha()">
    Verificar Senha
  </button>
</mat-card>
