@use './styles/variables/variables' as *;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #f4f6f8;
}

.mat-mdc-tooltip-surface {
  background: #151b26 !important;
  color: #fff !important;
  font-family: 'Comfortaa', sans-serif !important;
  font-size: 12px !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
}

body,
button,
input,
textarea,
mat-label,
.mat-button,
.mat-input-element,
.mat-form-field,
.mat-card,
.mat-toolbar,
.mat-table,
.mat-header-cell,
.mat-cell,
.mat-row,
.mat-header-row,
.mat-mdc-cell,
th,
tr,
td,
tbody,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.mdc-snackbar__surface,
.mdc-snackbar__label,
.mdc-snackbar,
mat-dialog-content,
mat-dialog-title,
mat-tooltip,
.mat-tooltip,
.tooltip,
mat-paginator {
  font-family: 'Comfortaa', sans-serif !important;
}

.foto-preview-dialog .mat-mdc-dialog-surface {
  border-left: 0 !important;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  border: 0 !important;
  padding: 12px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.mat-row:first-child .mat-cell:first-child {
  border-top-left-radius: 4px;
}

.mat-row:first-child .mat-cell:last-child {
  border-top-right-radius: 4px;
}

.mat-row:last-child .mat-cell:first-child {
  border-bottom-left-radius: 4px;
}

.mat-row:last-child .mat-cell:last-child {
  border-bottom-right-radius: 4px;
}

.mat-elevation-z2 {
  border-radius: 4px;
  overflow: hidden;
}

thead tr {
  background: #c9c9c9 !important;
  color: #2e2e2e !important;
  font-weight: bold !important;
  text-transform: uppercase;
  height: 40px !important;
}

thead tr.mat-mdc-header-row {
  .mat-mdc-header-cell {
    background: transparent !important;
    z-index: 1;
    position: relative;
  }
}

.striped-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell,
.mat-header-cell {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}


.formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.campo {
  width: 100%;
  max-width: 300px;
}

.m-h-70 {
  min-height: $min-h-70;
}

.m-h-80 {
  min-height: $min-h-80;
}

.m-h-90 {
  min-height: $min-h-90;
}

.m-h-100 {
  min-height: $min-h-100;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.flex-1 {
  flex: 1;
}

.bg-white {
  background-color: white;
}


.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pr-10 {
  padding-right: 10px !important;
}

// Botões
button {
  border-radius: 4px !important;
  border: 0 !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  display: flex;

  & mat-icon {
    width: 16px !important;
    height: 16px !important;
  }

  &[disabled] {
    background-color: #b0bec5 !important;
    color: white !important;
  }
}

.btn-azul {
  background-color: #2196f3 !important;
  color: white !important;
}

.btn-laranja {
  background-color: #e37a1f !important;
  color: white !important;
}

.btn-amarelo {
  background-color: #ffeb3b !important;
  color: black !important;
}

.btn-vermelho {
  background-color: #f44336 !important;
  color: white !important;
}

.btn-cinza {
  background-color: #9e9e9e !important;
  color: white !important;
}

.btn-verde {
  background-color: #009688 !important;
  color: white !important;
}

.btn-xs {
  align-items: center;
  font-size: 0.6rem;
  padding: 4px;

  & mat-icon {
    font-size: 0.6rem;
     width: 20px !important;
    height: 20px !important;
  }
}

.btn-sm {
  align-items: center;
  font-size: 1.1rem;
  padding: 6px;

  & mat-icon {
    font-size: 1.1rem;
     width: 25px !important;
    height: 20px !important;
  }
}

.btn-md {
  font-size: 1.3rem;
  padding: 10px;
  align-items: center;

  & mat-icon {
    font-size: 1.3rem;
    width: 28px !important;
    height: 22px !important;
  }
}

.btn-lg {
  font-size: 1.5rem;
  padding: 15px;
  align-items: center;

  & mat-icon {
    font-size: 1.5rem;
    width: 30px !important;
    height: 30px !important;
  }
}

.snack-centralizado {
  display: flex;
  justify-content: center;
  margin: auto !important;
  position: fixed !important;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 1500;
  transform: translateY(-50%);
}

.snack-liberado .mdc-snackbar__surface {
  border-left: 10px solid #20c997 !important;
}
.snack-danger .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: white !important;
  border-left: 10px solid #f44336 !important;
}

.mdc-snackbar__surface {
  border-left: 10px solid #e37a1f !important;
  background-color: white !important;
  border-radius: 4px !important;
  color: #2e2e2e !important;
}

// Fundos para páginas
.bg-verificar {
  background-image: url('/assets/bg-verificar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-alunos {
  background-image: url('/assets/bg-alunos.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 700px auto;
}
.bg-alunos-novo {
  background-image: url('/assets/bg-aluno-add.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 450px auto;
}

.box-shadow-none {
  box-shadow: none !important;
}
.mat-icon-24 {
  width: 24px !important;
  height: 24px !important;  
}

.webcam-personalizada .webcam-wrapper video {
    width: 240px !important;
    height: 240px !important;
    object-fit: cover;
    border-radius: 4px;
  }

  .card-border-orange {
    border-top: 7px solid #e37a1f !important;
  }

.bg-white-transparent-8 {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

mat-sidenav .mdc-list-item__primary-text {
  color: #fff !important;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-bottom: 1px solid rgba($color: #ccc, $alpha: .1) !important;
  border-radius: 0 !important;
  &:hover{
    background-color: #e37a1f !important;
    color: #fff !important;
  }
}